# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.exp
*.idb


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
/build/*
/.vs/*

/data/*.txt
/data/*.ini
/data/*.json
/data/FILTERS
/data/QUERIES
